#------------------------------------------------------------------------------#
#                             Flake Prerequisites                              #
#                                 (idempotent)                                 #
#------------------------------------------------------------------------------#
git ls-files --error-unmatch .envrc || git add .envrc
git ls-files --error-unmatch flake.nix || git add flake.nix

# (optional) for direnv flake activation (does not create subprocess) devShell
use flake

#------------------------------------------------------------------------------#
#                         Post-flake activation setup                          #
#------------------------------------------------------------------------------#
git ls-files --error-unmatch flake.lock || git add flake.lock
