#------------------------------------------------------------------------------#
#                             Flake Prerequisites                              #
#                                 (idempotent)                                 #
#------------------------------------------------------------------------------#
if ! git rev-parse --git-dir > /dev/null 2>&1; then
  echo "Error: this directory is not inside a git repository." >&2
  exit 1
fi
git ls-files --error-unmatch .envrc || git add .envrc
git ls-files --error-unmatch flake.nix || git add flake.nix

# (optional) for direnv flake activation (does not create subprocess) devShell
use flake

#------------------------------------------------------------------------------#
#                         Post-flake activation setup                          #
#------------------------------------------------------------------------------#
git ls-files --error-unmatch flake.lock || git add flake.lock
